// query variables
$max-577: '(max-width: 577px)';
// color variables
$JumbotronGray: #e9ecef;
$BGLight: #f8f9fa;
$CadetBlue4: #53868b;
$CharcoalGray: #212529;
$FireBrick: #b22222;
$GhostWhite: #f8f8ff;
$GainsBoro: #dcdcdc;
$Gray: #bebebe;